<!-- Error page for bigger system errors-->
<%- include('includes/head.ejs') %>
<body>	
	<main>
		<h1>Some Error Occured !!!</h1>
		<p>We are working on fixing it, Sorry For inconvinience caused.
		</br>Please try after some time
		</p> 
	</main>	
<%- include('includes/end.ejs') %>