<!-- Home Page -->
<%- include('../includes/head.ejs') %>
<link rel = "stylesheet" href = "/css/form.css">
<link rel = "stylesheet" href = "/css/auth.css">
</head>
<body>
	<main>
	<h1 class="centered">Welcome to Home Page</h1>
	</main>

<%- include('../includes/end.ejs') %>	